#title{
    background-color: #ff4c68;
}
.container{
    padding: 3% 15%;
}
h1 {
    font-family: "montserrat";
    font-weight: bold !important;
    font-size: 20px;
    line-height: 1.5;
    color: white;   

}
h2{
    font-family: "montserrat";
    font-size: 3rem;
    font-weight: bold !important;
    /* padding: 0 6rem; */
}
h3{
    font-family: "montserrat";
    font-weight: bold !important;
}
.nav-item{
    padding: 0 18px;
}
.handy{
    width: 50%;
    transform: rotate(25deg);
    position: absolute;
    right: 90px;
    
}
.start-button{
    margin: 25% 3% 5% 0;
}

.dog{
    margin-bottom: rem;
    font-weight: bold;
    font-size: 36px !important;
    color: white !important;
}
.dog-pic{
    margin: 0 auto;
    /* align-content: center; */
    padding-top: 50px;
    border-radius: 100%;
    width: 25%;
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;

    
}

.feature-box{
    text-align: center;
    padding: 5%;
}
p{
    color: #8f8f8f;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}
.testimonial-dog{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
#cta{
    padding-top: 6rem;
    background-color:#ff4c68 ;
    height: 400px;
    width: 100%;
    text-align: center;
}
.last-heading{
    color: #fff;
    font-weight: bolder;
    font-size: 2.5rem;
    padding: 0 220px 50px ;


}
.last-button{
    padding: 0 25px 0;
    text-align: center;
    margin: 0 10px;

}
#footer{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.social-icon{
    margin: 20px 10px;
}
@media(max-width:1028px){
#title{
    text-align: center;
}
    .handy{
    position: static;
    transform: rotate(0);
}
.last-heading{
    width: 85%;
    padding: 0 10px 20px 100px;
    text-align: center;
}
.last-button{
    text-align: center;
    padding: 0px 150px 0;
    margin: 0 10px 0 0;
}
#features{
    padding: 7% 30%
}
h1{
    padding-top:50px ;
    
}
.start-button{
    margin-top: 60px;
    margin-bottom: 40px;
}
#cta{
    height: 500px;
}

}